optimus/platform/projects/dal_client/src/main/resources/dal/config/uow.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Morgan Stanley makes this available to you under the Apache License, Version 2.0 (the "License").
 You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0.
 See the NOTICE file distributed with this work for additional information regarding copyright ownership.

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="metroplex" type="metroplexType"/>
  <xs:complexType name="serversType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="instance" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="kafkaType">
    <xs:sequence>
      <xs:element type="xs:string" name="security_protocol"/>
      <xs:element type="xs:string" name="sasl_kerberos_service_name"/>
      <xs:element type="serversType" name="bootstrap_servers" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metroplexType">
    <xs:sequence>
      <xs:element type="kafkaType" name="kafka"/>
      <xs:element type="zookeeperType" name="zookeeper" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="zookeeperType">
    <xs:sequence>
      <xs:element type="xs:string" name="path" minOccurs="0"/>
      <xs:element type="xs:integer" name="replication_factor" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>